/* css styles */

/* make taller */

div[class="quarto-title-banner page-columns page-full"]{
    height: 400px;
}

/* center vertically */

div[class="quarto-title column-page"]{
    display: flex;
    align-items: center; 
}

/* make text size responsive */

h1[class='title']
{
    font-size: 6em;
    color: white;
    text-shadow: -12px 0 black, 0 12px black, 12px 0 black, 0 -12px black;
}



span
{
    color: white;
}

/* span hover */

span:hover
{
    color: black;
    background-color: gold;
}

p{
    color: white;
}

/* new line for this*/
p[class="subtitle lead"]{
    color: white;
    font-size: 1.5em;
    /* new line */
    margin-top: 160px;
    /* move left */
    margin-left: -650px;
}

p[class="subtitle lead"]:hover{
    color: black;
    background-color: gold;
    text-shadow: -12px 0 black, 0 12px black, 12px 0 black, 0 -12px black;
}