/* css styles */

/* make taller */

div[class="quarto-title-banner page-columns page-full"]{
    height: 400px;
}

/* center vertically */

div[class="quarto-title column-page"]{
    display: flex;
    align-items: center; 
}

/* add text outline */
/* transparent slightly */

h1[class='title']
{
    font-size: 100px;
    color: white;
    /* text-shadow: -12px 0 black, 0 12px black, 12px 0 black, 0 -12px black; */
    text-shadow: -12px 0 black, 0 12px black, 12px 0 black, 0 -12px black;
}

h1[class='title']:hover{
    color: black;
    background-color: gold;
    text-shadow: 0 0 rgb(64, 64, 64), 0 0 rgb(64, 64, 64), 0 0 rgb(64, 64, 64), 0 0px rgb(64, 64, 64);
}

/* change default text colour */

span
{
    color: white;
}

/* span hover */

span:hover
{
    color: black;
    background-color: gold;
}

p{
    color: white;
}