/* css styles */
div[class="quarto-title-banner page-columns page-full"] {
    min-height: 400px;
    height: auto;
}

div[class="quarto-title column-page"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

h1[class='title'] {
    font-size: 6.5vw;
    color: white;
    text-shadow: 
        -0.1125em 0 black, 
        0 0.1125em black, 
        0.1125em 0 black, 
        0 -0.1125em black;
    text-align: left;
    max-width: 100%;
    hyphens: auto;
    margin-left: 20px;
}

h1[class='title']:hover{
    color: black;
    text-shadow: 
        -0.1125em 0 gold, 
        0 0.1125em gold, 
        0.1125em 0 gold, 
        0 -0.1125em gold;
}

span[class='menu-text']{
    color: white;
}

span[class='menu-text']:hover {
    color: black;
    background-color: gold;
}

span[class="navbar-title"]{
    color: white;
    text-shadow: 
        -0.1125em 0 black, 
        0 0.1125em black, 
        0.1125em 0 black, 
        0 -0.1125em black;
}

h1[class='title']:hover{
    color: black;
    text-shadow: 
        -0.1125em 0 gold, 
        0 0.1125em gold, 
        0.1125em 0 gold, 
        0 -0.1125em gold;
}

p {
    color: white;
}


/* @font-face {
    font-family: 'excelsior';
    font-weight: 100;
    font-style: normal;
    src: url("fonts/font.ttf") format('truetype');
  }

@font-face {
font-family: 'doves';
font-weight: 100;
font-style: normal;
src: url("fonts/doves.ttf") format('truetype');
} */


/* Adaptive subtitle styling */
p[class="subtitle lead"] {
    color: white;
    font-size: 2.5vw; /* Adaptive font size */
    text-shadow: 
        -0.1em 0 black, 
        0 0.1em black, 
        0.1em 0 black, 
        0 -0.1em black;
    margin-left: 20px; 
}


/* Media queries for responsiveness */
@media (max-width: 1200px) {
    h1[class='title'] {
        font-size: 8vw;
    }
    
    p[class="subtitle lead"] {
        font-size: 3vw;
    }
}

@media (max-width: 768px) {
    h1[class='title'] {
        font-size: 10vw;
    }
    
    p[class="subtitle lead"] {
        font-size: 4vw;
    }
}

/* @media (max-width: 480px) {
    h1[class='title'] {
        font-size: 12vw;
    }
    
    p[class="subtitle lead"] {
        font-size: 5vw;
    } */

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}