<!DOCTYPE html>
<html lang="en">
    <span id="names"></span>
    <a href="/privacy-policy/" style="float: right;">Privacy Policy</a>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const names = ['S. Manghani', 'E. D\'Souza', 'T. Savage'];
            
            function shuffleArray(array) {
                for (let i = array.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                }
                return array;
            }
            
            const shuffledNames = shuffleArray([...names]);
            const namesElement = document.getElementById('names');
            namesElement.innerHTML = shuffledNames.map(name => `${name}`).join(', ');

            // Video background control
            const video = document.getElementById('bgVideo');
            video.play();

            video.addEventListener('ended', function() {
                video.pause();
            });
        });
    </script>

</html>