.page__hero--overlay{
    margin-bottom: 10px;
    text-align: left;
    background-position: -250px;
    height: 100vh;
    padding-top: 20px;
  }

  .navbar, #site-nav, .masthead {
    display: none !important;
  }