.page__hero--overlay{
    margin-bottom: 10px;
    text-align: left;
    background-position: left center;
    height: 100vh;
    padding-top: 20px;
  }

  .navbar, #site-nav, .masthead {
    display: none !important;
  }

  /* if screen is small */
  @media (max-width: 768px) {
    .page__hero--overlay {
      background-position: -250px;
    }
  }