---
---

$background-color: black;
$link-color: #f6f6f6;
$body-color: white;
$intro-transition  : none;
$global-transition : none;
$muted-text-color: grey;
$footer-background-color: black;
$footer-text-color: white;



a[class="btn btn--light-outline btn--large"]{
  padding: 10px;
  border-radius: 0px;
}

// $sans-serif : 'main_font';

// @font-face {
//   font-family: 'main_font';
//   src: url("font.ttf") format('truetype');
// }

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials



.page__lead {
  font-size: 1em;
}


input {
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 1px;
}

textarea{
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 1px;
  height: 200px;
}

button{
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 1px;
}

// max width centered
form {
max-width: 700px;
margin: 0 auto;
}

// if the page is 
.page__hero--overlay{
  margin-bottom: 10px;
  text-align: left;
  background-position: left center;
  padding-bottom: 20px;
  padding-top: 20px;
}

#canvas-container { position: relative; width: 100vw; height: 100vh; }
canvas { display: block; }
.text-overlay {
    position: absolute;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    transition: opacity 0.3s;
    width: 200px; /* Fixed width */
    height: 100px; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Hide overflow text */
}
.text-overlay h3 { 
    margin: 0 0 10px 0;
    font-size: 16px; /* Adjust font size */
}
.text-overlay p { 
    margin: 0;
    font-size: 12px; /* Adjust font size */
    line-height: 1.2; /* Adjust line height */
}

#names-link:hover {
  text-decoration: underline;
}

.page__title {
  color: white;
  font-size: 4em !important;
  text-shadow: 
      -0.1em 0 black, 
      0 0.1em black,
      0.1em 0 black,
      0 -0.1em black !important;
}



.masthead {
  height: 55px; // Adjust this value as needed

  &__inner-wrap {
    padding: 0.25em; // Reduce padding
  }
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.page__footer {
  margin-top: 1em; // Reduced top margin

  footer {
    margin-top: 0.5em; // Reduced top margin
    padding: 0.5em 1em; // Reduced padding
  }
}

.greedy-nav {
  .visible-links {
    a {
      &:before {
        height: 0 !important; // This removes the underline
      }
      &:hover {
        text-decoration: none; // This ensures no underline on hover
      }
    }
  }
}


.site-title::before {
  content: url("/assets/el_small.png");
  display: inline-block;
  position: relative;
  height: 10px !important;
  top: 5px
}


