---
---

$background-color: black;
$link-color: gold;
$body-color: white;
$intro-transition  : none;
$global-transition : none;
$muted-text-color: grey;
$footer-background-color: black;
$footer-text-color: white;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__lead {
  font-size: 1em;
}

.page__title {
  color: white;
  font-size: 4em !important;
  text-shadow: 
      -0.1em 0 black, 
      0 0.1em black,
      0.1em 0 black,
      0 -0.1em black !important;
}

.masthead {
  height: 55px; // Adjust this value as needed

  &__inner-wrap {
    padding: 0.25em; // Reduce padding
  }
}

.page__footer {
  margin-top: 1em; // Reduced top margin

  footer {
    margin-top: 0.5em; // Reduced top margin
    padding: 0.5em 1em; // Reduced padding
  }
}

.greedy-nav {
  .visible-links {
    a {
      &:before {
        height: 0 !important; // This removes the underline
      }
      &:hover {
        text-decoration: none; // This ensures no underline on hover
      }
    }
  }
}


.site-title::before {
  content: url("logo.png");
  display: inline-block;
  position: relative;
  width: 10px !important;
  top: 5px;
}

// make the following appear alongside the site title

// <span id="names"></span>.</p>
// <script>
//     document.addEventListener('DOMContentLoaded', function() {
//         const names = ['S. Manghani', 'E. D\'Souza', 'T. Savage'];
        
//         function shuffleArray(array) {
//             for (let i = array.length - 1; i > 0; i--) {
//                 const j = Math.floor(Math.random() * (i + 1));
//                 [array[i], array[j]] = [array[j], array[i]];
//             }
//             return array;
//         }
        
//         const shuffledNames = shuffleArray([...names]);
//         const namesElement = document.getElementById('names');
//         namesElement.innerHTML = shuffledNames.map(name => `${name}`).join(', ');

//         // Video background control
//         const video = document.getElementById('bgVideo');
//         video.play();

//         video.addEventListener('ended', function() {
//             video.pause();
//         });
//     });
// </script>
